 *{
            margin: 0;
            padding: 0;
        }
        .switch{
            width: 700px;
            height: 50px;
            margin: 100px 100px;
            padding: 20px 50px;
        }
        span{
            margin-left: 15px;
            margin-right: 50px;
            font-weight: 200;
            opacity: 0.8;
        }
        .onoff::before{
            content: "";
            display: block;
            width: 40px;
            height: 24.5px;
            border-radius: 25px;
            margin-left: -23px;
            margin-top: -4px;
        }
        .onoff::after{
            content: "";
            display: block;
            width: 25px;
            height: 25px;
            background-color: rgb(255, 255, 255);
            margin-left: -22px;
            margin-top: -26px;
            transition: margin 0.2s ease-in 0.2s;
            border-radius: 25px;
        }
        .onoff:checked::after{
            margin-left:-7px;
        }
        .sw1::before{
            border: 1px solid rgb(156, 155, 155);
            background-color: rgb(179, 176, 176);
        }
        .sw2::before{
            border: 1px solid rgb(127, 154, 241);
            background-color: rgb(127, 154, 241);
        }
        .sw3::before{
            border: 1px solid rgb(144, 253, 129);
            background-color: rgb(144, 253, 129);
        }
        .sw4::before{
            border: 1px solid rgb(255, 138, 138);
            background-color: rgb(255, 138, 138);
        }